<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<title>Home</title>
</head>
<body>

<div id="section1">
	<h1 class="logo"> Logo or branding</h1>
		<div class = "topnav">
			<ul class= "navbar">
				<li><a href="#Home.html">Home</a></li>
				<li><a href="#Contacs.html">Contacs</a></li>
				<li><a href="#News.html">News</a></li>
				<li><a href="#About_Us.html">About Us</a></li>
			</ul>
		</div>	
<!-- Slide Show Images for Homepage -->

		<div class="w3-content w3-section" style="max-width:500px">
 

  <img class="mySlides w3-animate-fading" src="Images/Logo.jpg" style="width:100%">
  <img class="mySlides w3-animate-fading" src="Images/Milktea.jpg" style="width:100%">
  <img class="mySlides w3-animate-fading" src="img_rr_03.jpg" style="width:100%">
  <img class="mySlides w3-animate-fading" src="img_rr_04.jpg" style="width:100%">
</div>

<script>
var myIndex = 0;
carousel();

function carousel() {
  var i;
  var x = document.getElementsByClassName("mySlides");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  myIndex++;
  if (myIndex > x.length) {myIndex = 1}    
  x[myIndex-1].style.display = "block";  
  setTimeout(carousel, 9000);    
}
</script>


<!-- Slide Show Images for Homepage -->


	<div class= "greetings">
		<p>	</p>
	</div>

	<div class= "menutab">
	
	</div>

	<div class="contact tab">
	
	</div>
</div>


<div id="section2">
	<div class="content">
		<h1> Title </h1>
			<div class="container">
				<div class="box"></div>
				<div class="box"></div>
			</div>

	</div>
</div>


<div id="section3">
	<div class="conatiner">
		<div class="box">
			<div class="box-cell box1">
			</div>
			<div class="box-cell box2">
			</div>
		</div>
		
	</div>
</div>
</body>
</html>
